Source: hotplug-kanotix
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.6.2

Package: hotplug-kanotix
Architecture: all
Depends: hotplug, rebuildfstab-kanotix, mkdesktophdicons-kanotix
Description: hotplug handler for KANOTIX
 Scans multiple LUNs for USB Multicard-Readers, adds entries to /etc/fstab
 and creates desktop icons for KDE and GNOME.
